[submodule "inventory"]
	path = inventory
	url = git://github.com/ewheeler/rapidsms-inventory-app.git
[submodule "growthmonitoring"]
	path = growthmonitoring
	url = git://github.com/ewheeler/rapidsms-growthmonitoring-app.git
[submodule "logistics"]
	path = logistics
	url = git://github.com/ewheeler/rapidsms-logistics-app.git
[submodule "people"]
	path = people
	url = git://github.com/ewheeler/rapidsms-people-app.git
[submodule "ussd"]
	path = ussd
	url = git://github.com/ewheeler/rapidsms-ussd-app.git
[submodule "stringcleaning"]
	path = stringcleaning
	url = git://github.com/ewheeler/rapidsms-stringcleaning-app.git
[submodule "decisiontree"]
	path = decisiontree
	url = git@github.com:dimagi/rapidsms-decisiontree-app.git
[submodule "xmapper"]
	path = xmapper
	url = git://github.com/ewheeler/rapidsms-xmapper-app.git
[submodule "questions"]
	path = questions
	url = git://github.com/adammck/rapidsms-questions-app.git
[submodule "xforms"]
	path = xforms
	url = git://github.com/nyaruka/rapidsms-xforms.git
[submodule "training"]
	path = training
	url = git://github.com/rapidsms/rapidsms-training-app.git
[submodule "search"]
	path = search
	url = git://github.com/adammck/rapidsms-search-app.git
